{% extends "todo/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'todo/css/forms_styles.css' %}">

{% endblock  %}

{% block content %}
<h1>Task list</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">day_of_the_week</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.day_of_the_week }}</td>
                <td>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}
